PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://neondb_owner:npg_7lFRgK3ejLoB@ep-nameless-glitter-aoa8ifv4-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

DIRECT_URL="postgresql://neondb_owner:npg_7lFRgK3ejLoB@ep-nameless-glitter-aoa8ifv4-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"


CLIENT_URL="http://localhost:5173"
JWT_ACCESS_SECRET="change-me"
JWT_REFRESH_SECRET="change-me"
JWT_ACCESS_EXPIRES_IN=900
JWT_REFRESH_EXPIRES_IN=604800